
:root {
    /* fonts */
    --font-montserrat: "Montserrat";
  
    /* font sizes */
    --font-size-sm: 14px;
    --font-size-base: 16px;
    --font-size-3xs: 10px;
    --font-size-3xl: 22px;
  
    /* Colors */
    --color-white: #fff;
    --color-dimgray-100: #543b3a;
    --color-lightgray: #d5d0d0;
    --text-color: #24292e;
    --background-color:#E6E4E4;
    /* Gaps */
    --gap-base: 16px;
    --gap-3xs: 10px;
    --gap-11xs: 2px;
    --gap-xs: 12px;
    --gap-5xs: 8px;
  
    /* Paddings */
    --padding-5xs: 8px;
  
    /* Border radiuses */
    --br-5xs: 8px;
    --br-11xl: 30px;
    --br-xs: 12px;
  }