.header-layout {
    grid-area: header;

  }
  .content-layout {
    grid-area: main;
  }
  .sidebar-layout {
    grid-area: sidebar;
    display: flex;
    flex-direction: column;
  }
  
  .layout-container {
  
    display: grid;
    grid-template-columns: 1fr; /* Default to a single column on small screens */
    grid-template-areas:
      "header"
      "main"
      "sidebar";
  }
  
  /* Media query for screens wider than a specific width (e.g., 768px) */
  @media (min-width: 768px) {
    .layout-container {
      grid-template-columns: 1fr 2fr 2fr; /* Adjust column widths for larger screens */
      grid-template-rows: 1fr 7fr; 
      grid-template-areas:
        "sidebar header header"
        "sidebar main main"
       
    }
  }
  